colorama==0.4.6
  - click==8.1.7 [requires: colorama]
    - uvicorn==0.25.0 [requires: click>=7.0]
h11==0.14.0
  - uvicorn==0.25.0 [requires: h11>=0.8]
packaging==23.2
  - gunicorn==21.2.0 [requires: packaging]
pip==22.2.2
pipdeptree==2.13.1
pycparser==2.21
  - cffi==1.16.0 [requires: pycparser]
    - cryptography==41.0.7 [requires: cffi>=1.12]
pycryptodome==3.19.0
setuptools==63.2.0
sqlparse==0.4.4
  - Django==4.2.7 [requires: sqlparse>=0.3.1]
typing-extensions==4.8.0
  - asgiref==3.7.2 [requires: typing-extensions>=4]
    - Django==4.2.7 [requires: asgiref>=3.6.0,<4]
  - uvicorn==0.25.0 [requires: typing-extensions>=4.0]
tzdata==2023.3
  - Django==4.2.7 [requires: tzdata]
